



<div class="d-flex justify-content-center">
    <h1>Bun venit la teatru!</h1>
</div>
<div class="d-flex justify-content-center">
    <img src=~/Iamges/teatru.jpg/>
</div>

<div class="d-flex justify-content-center">
    <div class="btn btn-outline-dark p-2 m-4">
     @Html.ActionLink("Rezervare", "Rezervare", "Client",new { }, new{@class="text-decoration-none", @style="font-size: 30px; color:red;"} )
    </div>
</div>






